.body {
    min-height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #F9858B;;
    overflow: hidden;
    display: flex;
}

.topnav-name {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
}

.push {
    margin-left: auto;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #BD5059;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #BD5059;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right !important;
}

.username {
    color: white;
    text-align: right;
}

nav {
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.header {
    display: block  ;
    width: 100%;
    height: 40px;
    background-color: #F9858B;
}

.NaviBar
{
    width:100%;
    display:flex;
}

.centerlogo{
    width: 20vw;
    height:35vh;
}

/* .body{
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
} */

/* .Home {
    font-family: fantasy;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
} */

.logo {
    height: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.nav-li {
    float:left;
}
.nav-link {
    display: block;
    padding: 8px;
    color: #FFFFFF;
    background-color: #F9858B;
    text-decoration: none;
    float: left;
    height: 24px;
}

.nav-link:hover{
    background-color: #BD5059;
}

.current-link {
    background-color: #BD5059;
}



.home-content {
    text-align: center;
    margin-top: 10rem;
    font-family: initial;
    font-size: 30px;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    
    background-color: #F9858B;
    color: white;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* margin-bottom: -50px; */
}

.contactUsText {
    margin-left: 200px;
    margin-right: 200px;
}

.post {
    font-size: 30px;
    text-align: center;
    font-family: initial;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
    background-color: #ffe4e4;
}

.content-wrap {
    padding-bottom: 2.5rem; 
}

.headd{
    font-size: 50px;
    text-align: center;
    font-family: initial;
}

.backcolor {
    background-color: #ffe4e4;
}

.boddy{
    font-size: 30px;
    text-align: center;
    font-family: initial;
} 
.faq {
    font-style: initial;
}