.body {
    min-height: 100%;
}

nav {
    font-family: Arial;
    font-size: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.header {
    display: block  ;
    width: 100%;
    height: 40px;
    background-color: #F9858B;
}

.NaviBar
{
    width:100%;
    display:flex;
}

/* .centerlogo{
    widows: 250px;
    height:250px;
} */

/* .body{
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
} */

/* .Home {
    font-family: fantasy;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
} */

.logo {
    height: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.nav-li {
    float:left;
}
.nav-link {
    display: block;
    padding: 8px;
    color: #FFFFFF;
    background-color: #F9858B;
    text-decoration: none;
    float: left;
    height: 24px;
}

.nav-link:hover{
    background-color: #BD5059;
}

.current-link {
    background-color: #BD5059;
}



.home-content {
    text-align: center;
    margin-top: 10rem;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    
    background-color: #F9858B;
    color: white;
    
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;
    /* margin-bottom: -50px; */
}

.contactUsText {
    margin-left: 200px;
    margin-right: 200px;
}

.post {
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem; 
}

.headd{
    font-size: 50px;
    text-align: center;
    font-family: fantasy;
}

.backcolor {
    background-color: #C3B1E1;
}