
.NaviBar
{
    width:100%;
    height:auto;
    display:flex;
}

.HomeLink,.Explore,.AboutUs,.ContactUs,.FAQ{
    font-family: fantasy;
    width:10%;
    height:15px;
    margin:50px;
}

.centerlogo{
    widows: 250px;
    height:250px;

}

.body{
    font-size: 30px;
    text-align: center;
    font-family: fantasy;
    margin-bottom: 300px;
}

.Home {
    font-family: fantasy;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    
}

.header {
    background-color: #F9858B;
    height: 1fr;
}

.footer {
    font-family: fantasy;
    display: grid;
    grid-template-rows: 1fr 1fr;    
}

.signature {
    background-color: #F9858B;
}

.contactUsText {
    margin-left: 200px;
    margin-right: 200px;
}